<!DOCTYPE html>
<html lang="ja" dir="ltr" itemscope itemtype="http://schema.org/Article">
  <head>
    <meta charset="utf-8">
    <title>Jaw Motion App</title>
    <style type="text/css">
      button.lbutton {
        font-size:30pt
      }
    </style>
  </head>
  <body>
    <div id="camera">
      <video id="video">Video stream is not available.</video>
    </div>
    <div id="temp">
      <video id="test"></video>
    </div><br>
    <button id="startbutton" class="lbutton">start</button>
    <button id="stopbutton" class="lbutton">stop</button>
    <button id="upload" class="lbutton">upload</button>
    <form id="myform" action="uploadfile" method="POST"></form>
    <script>
      let width = 320    // We will scale the photo width to this
      let height = 0     // This will be computed based on the input stream
      let streaming = false
      let video = null
      let canvas = null
      let photo = null
      let startbutton = null
      let constrains = { video: true, audio: true }
      let recorder = null
      let record_data = []

      function getDateString(date) {
        var year_str = date.getFullYear();
        var month_str = 1 + date.getMonth();
        var day_str = date.getDate();
        var hour_str = date.getHours();
        var minute_str = date.getMinutes();
        var second_str = date.getSeconds();
        format_str = 'YYYYMMDDhhmmss';
        format_str = format_str.replace(/YYYY/g, year_str);
        format_str = format_str.replace(/MM/g, month_str);
        format_str = format_str.replace(/DD/g, day_str);
        format_str = format_str.replace(/hh/g, hour_str);
        format_str = format_str.replace(/mm/g, minute_str);
        format_str = format_str.replace(/ss/g, second_str);
        return format_str;
      };


      function startup() {
        video = document.getElementById('video')
        canvas = document.getElementById('canvas')
        photo = document.getElementById('photo')
        startbutton = document.getElementById('startbutton')
        stopbutton  = document.getElementById('stopbutton')
        uploadbutton = document.getElementById('upload')

        // camera canvas is showen
        document.getElementById('camera').style.display="block"
        document.getElementById('temp').style.display="none"

        videoStart()

        video.addEventListener('canplay', function(ev){
          if (!streaming) {
            //height = video.videoHeight / (video.videoWidth/width)
            //height = window.innerHeight
            width = window.innerWidth

            video.setAttribute('width', width)
            //video.setAttribute('height', height)
            height = video.videHeight
            streaming = true
          }
        }, false)

        startRecorder()

        startbutton.addEventListener('click', function(ev){
          document.getElementById('camera').style.display="block"
          document.getElementById('temp').style.display="none"
          recorder.start()
          ev.preventDefault()
        }, false);

        stopbutton.addEventListener('click', function(ev) {
          document.getElementById('camera').style.display="none"
          document.getElementById('temp').style.display="block"
          recorder.stop()
        });

        uploadbutton.addEventListener('click', function(ev) {
          console.log(record_data)
          var blob = new Blob(record_data, { type: 'application/octet-stream' })
          var request = new XMLHttpRequest()
          request.open('POST', 'uploadfile')
          var formData = new FormData();
          var date_str = getDateString(new Date());
          formData.append('file', blob, date_str + '.webm');
          request.addEventListener("load", function(ev2){
            console.log(ev2)
            //document.write()
            location.href="/uploads/" + date_str + "_jaw.mp4"
          });
          request.send(formData)
        })
      }

      function videoStart() {
        streaming = false
        console.log(streaming)
        navigator.mediaDevices.getUserMedia(constrains).then(function(stream) {
          video.srcObject = stream
          video.play()
        }).catch(function(err) {
          console.log("An error occured! " + err)
        })
      }

      function startRecorder() {
        navigator.mediaDevices.getUserMedia(constrains).then(function (stream) {
          recorder = new MediaRecorder(stream)
          recorder.ondataavailable = function (e) {
            var testvideo = document.getElementById('test')
            testvideo.setAttribute('controls', '')
            testvideo.setAttribute('width', width)
            testvideo.setAttribute('height', height)
            var outputdata = window.URL.createObjectURL(e.data)
            record_data.push(e.data)
            testvideo.src = outputdata
          }
        })
      }
      startup()
    </script>
  </body>
</html>
